@charset "UTF-8";

.hidden-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 20px;
}

#close-div {
  position: absolute;
  z-index: 2;
}

.close-button {
  position: fixed;
  top: 5;
  display: none;
  right: 8vw;
  padding: 5px;
  font-size: 30px;
  color: rgb(95, 94, 94);
}

.close-button:hover {
  background-color: rgba(128, 128, 128, 0.151);
}

.close-button:active {
  border: 1px solid #000;
}

#menu-items {
  position: relative;
  margin-top: 40px;
  padding: 10px;
  z-index: 1;
}

#menu-items button {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  width: 90vw;
  margin-top: 15px;
}

#menu-items button:hover{
  background-color: rgba(185, 185, 185, 0.384);
}

.name {
  font-size: 18px;
  color: rgb(95, 94, 94);
}

.arrow {
  font-size: 16px;
  color: rgb(95, 94, 94);
}

.us {
  margin-left: -48vw;
}

.acc {
  margin-right: 61vw;
}

.ic {
  color: rgb(95, 94, 94);
}